// box blue

.box_blue h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 21px;
  font-weight: normal;
  padding-top: 30px;
}

.box_blue .banner {
  background-image: image-url("grotta2.jpeg");
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}

.box_blue p {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: justify;
  font-size: 18px;
  font-weight: lighter;
}

.text_blue {
  margin-left: 40px;
  margin-right: 40px;
  color: white;
}

// box white

.box_white {
  background-color: white;
}

.box_white h1 {
  color: #001525;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 21px;
  font-weight: normal;
  padding-top: 30px;
}

.box_white .banner {
  background-image: image-url("caprisimple2.jpg");
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}

.box_white p {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: justify;
  font-size: 18px;
  font-weight: lighter;
}

.text_white {
  margin-left: 40px;
  margin-right: 40px;
  color: #001525;
}

@media (min-width: 600px) {
  .box_blue h1 {
    font-size: 25px;
    padding-top: 60px;
  }

  .box_white h1 {
    font-size: 25px;
    padding-top: 60px;
  }

  .box_blue .banner {
    padding: 200px 0;
  }

  .box_blue p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .text_blue {
    margin-left: 100px;
    margin-right: 100px;
  }

  .box_white .banner {
    padding: 200px 0;
    background-position: initial;
  }

  .box_white p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .text_white {
    margin-left: 100px;
    margin-right: 100px;
  }
}



