<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="<%= image_path("logo2.png")%>" alt=""></a>
  <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" class="first" href="/about"> CHI SIAMO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LAVORI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">FILM E TV</a>
          <a class="dropdown-item" href="#">BRANDED</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTATTI</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="box_blue">
    <div class="banner">
    </div>
    <div class="text_blue">
      <h1>CAPRI ENTERTAINMENT</h1>
      <p>L’isola di Capri custodisce un luogo iconico, perfetta metafora del cinema: la Grotta Azzurra. Un luogo buio e misterioso visitato quotidianamente da decine di persone per ammirare lo spettacolo mozzafiato dalle luci e ascoltare le leggende sulla sua origine. La magia della Grotta Azzurra ricorda quella della sala cinematografica: un tunnel buio in cui l’acqua diventa luce. Questa luce è simbolo di un’esperienza, di guardare la realtà con uno sguardo diverso: una nuova prospettiva. E così nella grotta di Capri Entertainment vogliamo raccontare le storie con un nuovo punto di vista.</p>
    </div>
  </div>

<div class="box_white">
  <div class="banner">
  </div>
  <div class="text_white">
    <h1>CHI SIAMO</h1>
    <p>Capri Entertainment è un progetto culturale, una società di produzione cinematografica, televisiva, pubblicitaria, una factory di talenti. Fondata da Virginia Valsecchi a Roma nel 2018, ha l’obiettivo di realizzare progetti dal taglio innovativo e raccontare storie con un punto di vista unico che possano intercettare nuove generazioni. Un modo nuovo di vedere e raccontare la realtà con lo scopo di creare contenuti di alta qualità per un mercato internazionale.</p>
  </div>
</div>

<div class="footer-ce">
  <div class="social">
    <p>
      <a href="https://m.facebook.com/caprientertainementsrl/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/caprientertainment/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/caprientertainment/"><i class="fab fa-linkedin-in"></i></a>
    </p>
  </div>
  <div class="info">
    <p>© 2019 - Capri Entertainment S.R.L.</p>
    <p>Via Margutta 54, 00187 Roma</p>
    <p>P.IVA/C.F. 15003851001</p>
    <p class="ppolicy"><a href="">Privacy Policy</a></p>
  </div>
</div>
