<nav class="navbar-trn navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="<%= image_path("logo2.png")%>" alt=""></a>
  <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about"> CHI SIAMO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LAVORI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">FILM E TV</a>
          <a class="dropdown-item" href="#">BRANDED</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTATTI</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="box-map">
      <div class="box-contact">
        <div class="contact">
          <h1>ROMA</h1>
          <div class="address">
            <p>Via Pompeo Magno, 1</p>
            <p>00192 - Roma</p>
            <p>info@caprientertainment.it</p>
          </div>
          <p>
            <a href="https://m.facebook.com/caprientertainementsrl/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/caprientertainment/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/caprientertainment/"><i class="fab fa-linkedin-in"></i></a>
          </p>
        </div>
        <h1>WE WANT YOU!</h1>
        <div class="address">
          <p>Sei un giovane regista, sceneggiatore o filmmaker? Scrivici, noi crediamo in te!</p>
        </div>
        <p class="small">L’autore verrà ricontattato solo se interessati, non commenteremo un esito negativo.</p>
      </div>
  </div>

<!--   <div class="footer-ce">
  <div class="social">
    <p>
      <a href="https://m.facebook.com/caprientertainementsrl/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/caprientertainment/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/caprientertainment/"><i class="fab fa-linkedin-in"></i></a>
    </p>
  </div>
  <div class="info">
    <p>© 2019 - Capri Entertainment S.R.L.</p>
    <p>Via Margutta 54, 00187 Roma</p>
    <p>P.IVA/C.F. 15003851001</p>
    <p class="ppolicy"><a href="">Privacy Policy</a></p>
  </div>
</div> -->
