// navbar

.bg-light {
  background-color: #001525 !important;
  position: fixed;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand img {
  width: 145px;
}

// navbar links

.navbar-light .navbar-nav .nav-link {
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: white;
  opacity: 50;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

// dropdown

.dropdown-menu {
  margin: 17px 0 0;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #001525;
  border: none;
  color: white;
  opacity: 0.5;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: white;
  opacity: 0.7;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  padding-left: 8px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.dropdown-item:hover, .dropdown-item:focus {
  color: white;
  opacity: 1;
  text-decoration: none;
  background-color: transparent;
}

    .navbar .navbar-collapse {
       background-color: #your-color;
       color: #your-color;
    }

// burger menu

@media (max-width: 768px)  {
  #navbarSupportedContent {
    height: 100vh !important;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 9px;
  }

  .dropdown-item {
    padding-left: 11px;
  }

}
