.d-block {
  height: 100vh;

  object-fit: cover
}

.carousel-caption {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.carousel-caption h5 {
  font-size: 25px;
}

.carousel-caption p {
  font-size: 12px;
}

.my-carousel {
  position: absolute;
  top: 0;
  // bottom: 0;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}

.carousel-control-next-icon {
  visibility: hidden;
}

.carousel-control-prev-icon {
  visibility: hidden;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

@media (min-width: 600px) {
  .carousel-caption h5 {
    font-size: 40px;
  }

  .carousel-caption p {
    font-size: 16px;
  }

  .carousel-control-next-icon {
    visibility: visible;
  }

  .carousel-control-prev-icon {
    visibility: visible;
  }
}
